.header {
    // border: 1px solid red;
    background-image: linear-gradient(to right top, $color-secondary, $color-primary);

    &__flex-container {
        display: flex;
        flex-flow: column nowrap;
        height: 35rem;

        // &::after {
        //     content: '';
        //     clear: both;
        //     display: table;
        // }

        @media only screen and (min-width: 720px) {
            flex-flow: row;
            height: 23rem;
        }
    }
    &__flex-item {
        // border: 3px solid green;
        flex: 100%;
        position: relative;

        @media only screen and (min-width: 720px) {
            flex: 50%;
        }
    }
    &__logo-box {
        position: absolute;
        left: 50%;
        top: 65%;
        transform: translate(-50%, -50%);
        background: url(../../images/logo.svg) #fff no-repeat 50% 35%;
        background-size: 15.5rem;
        width: 19rem;
        height: 19rem;
        border-radius: 50%;

        @media only screen and (min-width: 720px) {
            top: calc(65% - 9rem);
            transform: translate(-50%, 0);
            background-size: 19rem;
            width: 23rem;
            height: 23rem;
            border: 2px solid $color-secondary;
        }
    }
    &__text-box {
        // border: 1px solid yellow;
        width: 100%;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        text-align: center;

        @media only screen and (min-width: 720px) {
            left: 0;
            bottom: 0;
            transform: translateX(0);
            text-align: left;
        }
    }
}