.header {
    background-image: linear-gradient(to right top, $color-secondary, $color-primary);

    &__flex-container {
        display: flex;
        flex-flow: column nowrap;

        @media only screen and (min-width: 768px) {
            flex-flow: row;
        }
    }
    &__flex-item {
        flex: 100%;

        @media only screen and (min-width: 768px) {
            flex: 50%;
            position: relative;
        }
    }
    &__logo-box {
        background-color: #fff;
        width: 19rem;
        height: 19rem;
        border-radius: 50%;
        margin: 3rem auto;
        position: relative;

        @media only screen and (min-width: 768px) {
            margin-bottom: -3rem;
            border: 2px solid $color-secondary;
        }

        @media only screen and (min-width: 992px) {
            width: 23rem;
            height: 23rem;
        }

        &--logo {
            max-width: 14.5rem;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;

            @media only screen and (min-width: 992px) {
                max-width: 17.5rem;
            }
        }
    }
    &__text-box {
        width: 100%;
        text-align: center;
        padding: 0 1rem;;

        @media only screen and (min-width: 768px) {
            text-align: left;
            position: absolute;
            bottom: 0;
        }
    }
}