.checkmark {
    position: absolute;
    top: 50%;
    left: calc(50% - 20rem);
    display: inline-block;
    border: 0.5rem solid #fff;
    border-top: none;
    border-right: none;
    width: 6rem;
    height: 3rem;
    transform: rotate(-45deg);
    transform-origin: top left;
    // margin: 0 2rem 1.7rem 0;
    opacity: 0;
    animation: check 0.3s ease-in 0.3s forwards;

    @media only screen and (min-width: 576px) {
        left: calc(50% - 23rem);
    }
}

@keyframes check {
    0% {
        opacity: 1;
        width: 0;
        height: 0;
    }
    50% {
        opacity: 1;
        width: 0;
        height: 3rem;
    }
    100% {
        opacity: 1;
        width: 6rem;
        height: 3rem;
    }
}