$color-primary: #0288D1;
$color-secondary: #00BCD4;

$color-alert: #FF5722;

$color-grey-light: #F8F8F8;
$color-grey-medium: #EFEFEF;
$color-grey-dark: #4A4A4A;

$color-footer-link: #a09f9f;

$color-text-main: #757575;